@using AirlineReservation.Models;
@model List<Contact>;
@{
    ViewData["Title"] = "Index";
}
@foreach(Contact contact in Model)
{
<div class="card component-card_2 container">
    <div class="card-body">
        <h5 class="card-title">@contact.Name</h5>
        <p class="card-text">@contact.Message</p>
        <a  asp-action="Ansver" asp-route-Id="@contact.Id" class="btn btn-primary">Answer</a>
    </div>
</div>
}