@using AirlineReservation.Models;
@model Contact
@{
    ViewData["Title"] = "Index";
}


<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_3.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="row row-mt-15em">
                    <h1>Contact</h1>
                </div>

            </div>
        </div>
    </div>
</header>


<div class="gtco-section border-bottom">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                    <h3>Get In Touch</h3>
                    <form action="#" method="post">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label asp-for="Name" class="sr-only" for="name">Name</label>
                                <input asp-for="Name" type="text" id="name" class="form-control" placeholder="Your firstname">
                            </div>
                        </div>
                            <span asp-validation-for="Name" class="text-danger"></span>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label asp-for="Email" class="sr-only" for="email">Email</label>
                                <input asp-for="Email" type="text" id="email" class="form-control" placeholder="Your email address">
                            </div>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label asp-for="Message" class="sr-only" for="message">Message</label>
                                <textarea asp-for="Message" name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Write us something"></textarea>
                            </div>
                        </div>
                        <span asp-validation-for="Message" class="text-danger"></span>

                        <div class="form-group">
                            <input asp-action="Index" type="submit" value="Send Message" class="btn btn-primary">
                        </div>

                    </form>
                </div>
                <div class="col-md-5 col-md-push-1 animate-box">
                    @foreach (Adres adres in ViewBag.Adress)
                    {
                    <div class="gtco-contact-info">
                        <h3>Contact Information</h3>
                        <ul>
                            <li class="address">@adres.Address</li>
                            <li class="phone">@adres.Phone</li>
                            <li class="email">@adres.AdminMail</li>
                        </ul>
                    </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>

