@{
    ViewData["Title"] = "SearchUser";
}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_6.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="row row-mt-15em">

                    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        <h1 style="position:absolute;bottom:-90px">With one Fin code or one Passport code, you can buy a ticket
                            for the same direction only once.</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

